# Initialization
Likely won't need all these packages, but just in case.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# 1

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [2]:
limit = 1000
val_sum = 0
for val in range(limit):
    if val % 3 == 0 or val % 5 == 0:
        val_sum += val
print(val_sum)

233168

# 2



Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [3]:
fib_vals = [1, 2]
while True:
    val = fib_vals[-2] + fib_vals[-1]
    if val < 4E6:
        fib_vals.append(val)
    else:
        break

fib_sum = sum([val for val in fib_vals if val % 2 == 0])
print(fib_sum)

4613732

# 3



The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143 ?

In [13]:
num = 600851475143
prime_factors = []

def find_nat_num_divisor(val):
    if type(val) is not int:
        if val % 1 == 0:
            val = int(val)
        else:
            raise ValueError(f'{val} is not an integer.')

    for i in range(2, val):
        if val % i == 0:
            j = val / i 
        
            find_nat_num_divisor(i)
            find_nat_num_divisor(j)
            return
    
    prime_factors.append(val)

find_nat_num_divisor(num)
print(max(prime_factors))

6857

In [9]:
3.0 % 1 == 0

True